*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: helvetica, arial, sans-serif;
  height:100vh;
}

h1 {
  color: #3a241d;
  text-align: center;
  text-shadow: 2px 2px 5px gray;
}
img{
	filter: drop-shadow(0 0 5px blue);
}

img:active {
  background-color: rgba(168, 218, 220, 1.00);
}
img:hover {
  cursor: pointer;
  border-width: 20px;
}

#pagina{
	height:100vh;
}

.wrapper {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 40% 40% 20%;
  position: relative;
  height: calc(100vh - 50px);
}

.contenedor-componente {
	position: relative;
	height: 100%;
}

.componente {
	height: 100%;
	width: 100px;
	position: absolute;
}

.contenedor-cielo{
   display: flex;
   align-items: center;
   height: 50%;    

}

.contenedor-suelo{
   display: flex;
   align-items: center;
   height: 50%;   
}

.cielo {
	background: #BDE6F1;
	border-radius: 1rem 1rem 0 0;
	opacity: 0.5;
}

.suelo {
	background: #C9E4C5;
	border-radius: 0 0 1rem 1rem;
	box-shadow: 5px 10px 18px #888888;
}
